# Парсинг данных о портах

In [56]:
import pandas as pd
import sqlalchemy

In [57]:
df_timetable = pd.read_excel("data/расписание_и_причалы.xlsx", sheet_name="Расписание0307")

In [58]:
df_timetable = df_timetable[["id", "dock.id", "ship.name", "timetable.startdate", "timetable.enddate", "timetable.starttime", "timetable.endtime", "timetable.duration"]]
df_timetable = df_timetable.rename(columns={'dock.id': 'pierce_id', 'ship.name': 'ship_name', "timetable.startdate": 'startdate', "timetable.enddate": 'enddate', "timetable.starttime": 'starttime', "timetable.endtime": 'endtime', "timetable.duration": 'duration'})

In [59]:
df_timetable

,id,pierce_id,ship_name,startdate,enddate,starttime,endtime,duration
0,1093216,45,Алина Браво,1719954000,1731790800,1.0,5,4
1,1094166,32,М-250,1719954000,1731790800,1.0,5,4
2,1094538,32,Москва-24,1719954000,1731790800,1.0,4,3
3,1096121,45,NaN,1719954000,1719954000,1.0,5,4
4,1096896,32,NaN,1719954000,1719954000,1.0,5,4
...,...,...,...,...,...,...,...,...
7882,840248,54,Маэстро,1722373200,1722373200,NaN,600,600
7883,842057,49,Жемчужина,1720299600,1720299600,NaN,30,30
7884,843391,47,Благодать,1722200400,1722200400,NaN,30,30
7885,915571,49,Богема,1723755600,1723755600,NaN,30,30
7886,920229,49,Жемчужина,1722718800,1722718800,NaN,30,30

In [60]:
df_pierces = pd.read_excel("data/расписание_и_причалы.xlsx", sheet_name="Причалы")

In [61]:
df_pierces = df_pierces[["Docs.id", "Docs.latitude", "Docs.longitude", "Docs.name", "Docs.river"]]
df_pierces = df_pierces.rename(columns={"Docs.id": 'id', "Docs.latitude": 'latitude', "Docs.longitude": 'longitude', "Docs.name": 'name', "Docs.river": 'river'})

In [62]:
df_pierces

     id   latitude  longitude                    name             river
0    31  37.597184  55.730130           Парк Горького            Москва
1    32  37.590694  55.722427           Нескучный сад            Москва
2    33  37.596061  55.732427           Крымский мост            Москва
3    39  37.725065  55.641785                 Марьино            Москва
4    41  37.714149  55.683699               Печатники            Москва
5    42  37.696817  55.691060                 Меловой            Москва
6    43  37.675846  55.689415     Южный речной вокзал            Москва
7    44  37.672150  55.686457        Кленовый бульвар            Москва
8    45  37.546826  55.711738          Воробьевы горы            Москва
9    46  37.571839  55.743672                Киевский            Москва
10   47  37.610627  55.745129         Красный октябрь            Москва
11   48  37.546796  55.748745       Сити – Экспоцентр            Москва
12   49  37.653392  55.730281            Новоспасский            Москва
13   50  37.635886  55.748462             Китай-город            Москва
14   51  37.608138  55.743972              Патриарший            Москва
15   54  37.545615  55.726423      Лужники – Северный            Москва
16   55  37.618414  55.744502           Третьяковский            Москва
17   56  37.538187  55.744387             Кутузовский            Москва
18   57  37.409289  55.791920           Троице-Лыково            Москва
19   60  37.475581  55.749486               Парк Фили            Москва
20   61  37.459077  55.849065               Захарково  Канал им. Москвы
21   62  37.563940  55.754254              Трёхгорный            Москва
22   64  37.545233  55.746481        Сити – Багратион            Москва
23   67  37.549501  55.713129   Лужники - Центральный            Москва
24   71  37.466138  55.851125  Северный речной вокзал  Канал им. Москвы
25   72  37.572238  55.711646             Андреевский            Москва
26   73  37.629242  55.749528                 Зарядье            Москва
27   75  37.424496  55.785823        Серебряный бор-2            Москва
28   93  37.444882  55.785127        Серебряный бор-3            Москва
29   97  37.541693  55.746589      Сити – Центральный            Москва
30  146  37.626632  55.702836      Автозаводский мост            Москва
31  167  37.458891  55.886542                   Химки            Москва
32  172  37.512246  55.760497          Сердце Столицы            Москва
33  187  37.628875  55.699935                     ЗИЛ            Москва
34  188  37.701144  55.685878       Нагатинский затон            Москва
35  192  37.512611  55.758389               Береговой            Москва

In [63]:
engine = sqlalchemy.create_engine(
'postgresql://user:password@172.19.139.243:5432/sharing_taxi')

with engine.connect() as conn:
    df_pierces.to_sql(name='pierces', con=conn, if_exists='replace', index=False)
    df_timetable.to_sql(name='timetable', con=conn, if_exists='replace', index=False)